@import "../styles-mui/colors.scss";

// Dark Colors
// @media (prefers-color-scheme: dark) {
//     html.ion-ce  {
//         body {
//             background-color: $grey50;

//             .ion-page {
//                 ion-content::part(background) {
//                     background-color: $grey50;
//                 }
//             }
//         }
//     }
// }
// Light Colors
// @media (prefers-color-scheme: light) {
body.light:not(.light.dark) {
    // --ion-background-color: $grey50;
    background-color: $light;
    // background: var(--ion-background-color);

    .secondary-header {
        ion-toolbar {
            background-color: transparent;
            --ion-toolbar-background: transparent;
            --toolbar-background: transparent;
            --toolbar-background-color: transparent;
        }
    }

    .ion-page {
        ion-content::part(background) {
            background-color: $dark;
        }
    }
}
// }

ion-content::part(scroll) {
    padding-bottom: 0;
}

html.ion-ce {
    ion-header.main-header {
        padding-top: 0;
        padding-bottom: 0;

        ion-toolbar {
            min-height: 56px;
        }
        ion-row {
            ion-col {
                padding-bottom: 0;
                padding-top: 0;
            }
        }
    }
    ion-header.main-footer {
        width: 100%;

        ion-toolbar {
            min-height: 56px;
        }
    }

    body {
        // background-color: $grey50;
        // background: #f7fbf9;
        background: $light;

        .main-header {
            width: 100%;
            height: 56px;
            display: flex;
            flex-direction: row;
            align-items: center;

            .main-nav {
                ul {
                    li {
                        display: inline-flex;
                        padding: 0 16px;
                    }
                }
            }
        }

        .secondary-header {
            &:after {
                display: none;
            }
        }

        .ion-page {
            display: flex;
            align-items: center;
            // margin-top: 64px;

            // ion-content::part(background) {
            // background-color: $grey50;
            // }

            ion-content {
                --padding-bottom: 8px;
                --background: transparent;
                // max-width: 1320px;
                // --padding-start: 32px;
                // --padding-end: 32px;

                // @media screen and (max-width: $sm-min) {
                //     --padding-start: 16px;
                //     --padding-end: 16px;
                // }

                // .page-content {
                //     display: flex;
                //     justify-content: center;
                //     flex-direction: column;
                // }
            }
        }
    }
}
html.md {
    --ion-default-font: Arial;
}

.single-view-header {
    width: 100%;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
    }

    .single-view-header-content {
        position: absolute;
        z-index: 2;
        top: calc(50% - 52px);

        @media (min-width: 1380px) {
            left: calc(50% - 690px);
        }

        @media (max-width: 575px) {
            top: calc(50% - 60px);

            h2 {
                font-size: 1.4rem;
            }
        }

        h2,
        h6 {
            color: $white;
        }
    }
}

// .left-side {
//     left: auto;
// }
// .right-side {
//     right: auto;
// }
// .left-side,
// .right-side {
//     position: fixed;
//     max-width: 340px;
//     width: 100%;
// }

// .center-area {
//     margin-left: calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
// }
