html.ion-ce {
    ion-card {
        padding: 24px;
        margin: 0;
        width: 100%;
        border-radius: 16px;
        margin-inline: 0;
        // box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
        //     rgba(50, 50, 93, 0.1) 0px 40px 80px -16px,
        //     rgba(0, 0, 0, 0.1) 0px 16px 32px -16px;
        // box-shadow: rgba(0, 0, 0, 0.2) 0px 25px 20px -20px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 16px 40px -16px;

        ion-card-header,
        ion-card-content {
            -webkit-padding-start: 0px !important;
            padding-inline-start: 0px !important;
            -webkit-padding-end: 0px !important;
            padding-inline-end: 0px !important;
            padding-top: 0px !important;
            padding-bottom: 0px !important;
        }

        //     background-color: $white;

        //     ion-list::part(native) {
        //         background-color: $white;
        //     }

        //     ion-list {
        //         background-color: $white;

        //         &::part(native) {
        //             background-color: $white;
        //         }

        //         ion-item {
        //             background-color: $white;
        //         }
        //     }
    }
    // ion-item::part(native) {
    //     padding-left: 0px;
    // }
}

ion-modal.fullscreen {
    --width: 100%;
    --height: 100%;
    --border-radius: 0;
}

.infinite-loading-spinner {
    ion-spinnner.spinner-crescent {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
