$primary-20: #829c00;
$primary-10: #8aa600;
$primary: #cff800;
$secondary: #206a5d;

$blue: #2e91ed;
$purple: #6039fb;
$red: #d95d5d;

$dark-20: #081b1e;
$dark-10: #0f2d31;
$dark: #143a3f;
$dark10: #666b69;
$dark20: #8d9491;

$medium: #70807e;

$light-20: #dbddd7;
$light-10: #e5eeed;
$light: #f2f4ee;

$white: #fff;
$black: #000;
