ion-content {
    .MuiContainer-root {
        margin-top: 16px;
        padding-bottom: 16px;
    }
}

// ion-content,
.MuiContainer-root {
    .MuiCard-root {
        position: relative;
        width: 100%;
        border-radius: 16px;
        // inspiration: https://getcssscan.com/css-box-shadow-examples
        // box-shadow: rgba(0, 0, 0, 0.12) 0px 25px 20px -20px;
        // box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
        // box-shadow: rgba(0, 0, 0, 0.08) 0px 25px 50px -12px;
        // box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        //     rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        // box-shadow: rgba(50, 50, 93, 0.08) 0px 48px 80px -16px,
        //     rgba(0, 0, 0, 0.08) 0px 24px 56px -24px;
        // box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
        //     rgba(50, 50, 50, 0.08) 0px 42px 84px -16px,
        //     rgba(0, 0, 0, 0.12) 0px 32px 64px -32px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 28px 16px -16px;
    }
}

// Dates for Event cards
.info-box {
    width: 100%;
    height: auto;
    position: relative;
    // background: black;
    background: rgb(0, 0, 0);
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 100%
    );
    padding: 16px;
    margin-top: -112px;

    @media (max-width: 575px) {
        padding: 8px;
        margin-top: -102px;
    }

    .info-box-container {
        min-width: 80px;
        display: block;
        text-align: center;
        background-color: $white;
        border: 1px solid $light-20;
        border-radius: 16px;
        position: relative;
        box-shadow: rgba(50, 50, 50, 0.16) 0px 12px 24px -4px,
            rgba(0, 0, 0, 0.24) 0px 8px 16px -8px;

        .info-box-header {
            border-top-left-radius: 16px;
            border-top-right-radius: 16px;
            background-color: $purple;
            color: $white;
            font-size: 0.9rem;
            font-weight: 600;
            padding: 4px 8px;
            min-height: 28px;
        }
        .info-box-content {
            color: $purple;
            font-size: 1.4rem;
            font-weight: 600;
            padding: 2px 8px 0px 8px;
            margin-bottom: -2px;
            min-height: 34px;

            &.city-name {
                font-size: 1.2rem;
                padding-top: 4px;

                @media (max-width: 575px) {
                    font-size: 1rem;
                    padding-top: 6px;
                }
            }
        }
        .info-box-footer {
            color: $purple;
            opacity: 0.6;
            font-size: 0.9rem;
            font-weight: 600;
            padding: 0px 8px 4px 8px;
            min-height: 24px;
        }
        .date-to {
            background-color: $light-20;
            border: 1px solid $white;
            color: $dark20;
            padding: 4px 12px;
            position: absolute;
            left: -30px;
            top: 38px;
            border-radius: 8px;
            font-size: 0.9rem;
            font-weight: 600;
        }
    }
}

// Rich editor
.rdw-editor-toolbar {
    margin-bottom: 0 !important;
    border: 1px solid $light-20 !important;
    border-top-left-radius: 16px !important;
    border-top-right-radius: 16px !important;
}
.rdw-editor-main {
    border: 1px solid $light-20 !important;
    padding: 0 16px !important;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    min-height: 96px;
}

// Cards
.MuiDataGrid-root {
    .MuiDataGrid-main {
        .MuiDataGrid-iconSeparator {
            display: none;
        }
        .MuiDataGrid-columnHeader:focus,
        .MuiDataGrid-columnHeader:focus-within,
        .MuiDataGrid-cell:focus,
        .MuiDataGrid-cell:focus-within {
            outline: none;
        }
    }
}

.MuiPaper-root {
    &.large-card {
        .MuiCardHeader-root {
            .MuiCardHeader-action {
                margin-top: 0;
                margin-right: 0;
                margin-bottom: 0;
                padding-bottom: 4px;
            }
        }
    }

    .MuiCardContent-root {
        background-color: white;
        z-index: 2;
        position: relative;
    }

    .MuiCardMedia-root {
        &.MuiCardMedia-media {
            object-fit: cover;
            // object-fit: contain;
            background: $light-20;
            position: relative;

            // &:after {
            //     content: "";
            //     position: absolute;
            //     width: 100%;
            //     height: 80px;
            //     background: black;
            //     display: block;
            // }
        }
    }

    &.post-card {
        .MuiCardHeader-root {
            .MuiCardHeader-content {
                .MuiCardHeader-title.MuiTypography-body2 {
                    font-size: 1.1rem;
                    font-weight: 500;
                    line-height: 1;
                }
                .MuiCardHeader-subheader.MuiTypography-body2 {
                    font-size: 0.9rem;
                }
            }
        }
        .MuiCardMedia-root {
            background-color: $black;
            // filter: blur(8px);
            // -webkit-filter: blur(8px);
        }
        .MuiCardMedia-root > div {
            background-size: cover;
            position: relative;
            width: 100%;
            display: flex;
            justify-content: center;
            height: 100%;

            img {
                max-width: none;
                // filter: blur(0px) !important;
                // -webkit-filter: blur(0px) !important;
            }
        }
    }
}

// Inputs
.MuiFormLabel-root.MuiInputLabel-root {
    color: rgba(0, 0, 0, 0.4);
}
.MuiInputBase-input.MuiOutlinedInput-input {
    color: $dark-20;
}

.MuiFormControl-root {
    .MuiFormLabel-root.MuiInputLabel-root {
        @media (max-width: 575px) {
            line-height: 16px;
        }
    }

    .MuiInputBase-input.MuiOutlinedInput-input {
        &.general-input {
            padding: 16px 16px;

            @media (max-width: 575px) {
                padding: 12px 12px;
            }
        }
    }
    &.narrow-input {
    }
    &.light-input {
        .MuiInputBase-root.MuiOutlinedInput-root {
            background-color: $white;
        }
        // .MuiInputBase-input.MuiOutlinedInput-input {
        //     color: $white;
        // }
    }
}

// Buttons
.MuiButtonBase-root.MuiButton-root {
    text-transform: none;

    &.MuiButton-contained {
        box-shadow: 0px 4px 0px rgba(32, 106, 93, 0.2);
    }
    &.MuiButton-sizeSmall {
        padding: 6px 16px;
        border-radius: 12px;
        font-size: 0.9rem;
    }
    &.MuiButton-sizeMedium {
        font-size: 1rem;
        padding: 10px 24px;
        border-radius: 16px;
    }
    &.MuiButton-sizeLarge {
        font-size: 1.1rem;
        padding: 10px 28px;
        border-radius: 16px;
    }
}

// Menu
.MuiMenu-root {
    .MuiPaper-root.MuiMenu-paper {
        min-width: 160px;

        .MuiList-root {
            .MuiMenuItem-root {
                padding: 16px;
            }
        }
    }
}

.main-menu-card {
    .MuiList-root {
        a {
            li {
                .MuiListItemButton-root {
                    .MuiListItemText-root {
                        .MuiTypography-root {
                            font-size: 1.1rem;
                            font-weight: 600;
                        }
                        // MuiTypography-body1
                    }
                }
            }
            &.active {
                li {
                    .MuiListItemButton-root {
                        .MuiListItemText-root {
                            color: $primary-20;
                        }
                    }
                }
            }
        }
    }
}

.confirm-dialog {
    .MuiDialog-paper {
        padding: 32px;
    }
}

.MuiDialog-container {
    .MuiDialogContent-root {
        padding: 16px 0px;
    }
}
