@import url("https://fonts.googleapis.com/css?family=Jost:300,400,500,600,700");
// @import url("https://fonts.googleapis.com/css?family=Didact+Gothic:300,400,500,600,700");
// @import url("https://fonts.googleapis.com/css?family=Nunito:300,400,500,600,700");
// @import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,500,600,700");
@import "./colors.scss";
@import "./typo.scss";
@import "./utils.scss";
@import "./elements.scss";
// https://www.geeksforgeeks.org/react-mui-spacing/

html {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: $light;
    font-size: 16px;
}
