.font-100 {
    font-weight: 100;
}
.font-200 {
    font-weight: 200;
}
.font-300 {
    font-weight: 300;
}
.font-400 {
    font-weight: 400;
}
.font-500 {
    font-weight: 500;
}
.font-600 {
    font-weight: 600;
}
.font-700 {
    font-weight: 700;
}
.font-800 {
    font-weight: 800;
}
.font-900 {
    font-weight: 900;
}

.txt-medium {
    color: $medium;
}
.txt-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.txt-truncate-3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.MuiTypography-caption {
    &.txt-label {
        color: $dark20;
    }
}

$maxWidth: 1380px;
@media (min-width: 1200px) {
    .MuiContainer-root.MuiContainer-maxWidthLg {
        max-width: $maxWidth !important;
    }
}

.container {
    max-width: $maxWidth;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.linking {
    color: $secondary;
    cursor: pointer;
}
a,
a:hover,
a:focus,
a:focus-visible,
a:active,
a:active {
    text-decoration: none;
    color: $secondary;
}
a.secondary-link {
    color: $secondary;
}

.full-height-420 {
    height: calc(100vh - 420px);
    // height: calc(100vh - 240px);
}

.pos-abs {
    position: absolute;
}
.pos-rel {
    position: relative;
}

.align-right {
    right: 0;
    left: unset;
}

.b0 {
    bottom: 0;
}
.b4 {
    bottom: 4px;
}
.b8 {
    bottom: 8px;
}
.t0 {
    top: 0;
}
.r8 {
    right: 8px;
}
.r16 {
    right: 16px;
}
.l8 {
    left: 8px;
}
.l16 {
    left: 16px;
}

.pl0 {
    padding-left: 0;
}
.pr0 {
    padding-right: 0;
}

.mr-8 {
    margin-right: -8px;
}
.mr-12 {
    margin-right: -12px;
}

.ml-8 {
    margin-left: -8px;
}
.ml-12 {
    margin-left: -12px;
}

.w100p-16 {
    width: calc(100% - 16px);
}

.fit-contain {
    object-fit: contain;
}
.fit-cover {
    object-fit: cover;
}
// object-fit: none;
// object-fit: fill;
// object-fit: scale-down;

.infinite-scroll {
    height: 100%;
    overflow-y: auto;
}

.sticky {
    // position: sticky;
    // top: 16px;
    position: fixed;
    z-index: 3;
    // top: 168px;
    // top: 98px;
    // width: 256px;

    &.search-box {
        background-color: $light;
        padding: 16px 16px 16px 0px;
        top: 80px;
        // margin-left: 0px;

        @media (min-width: 992px) {
            // max-width: calc(calc(6 / var(--ion-grid-columns, 12)) * 100%);
            max-width: calc(
                (calc(6 / var(--ion-grid-columns, 12)) * 100%) - 22px
            );
        }
        @media (min-width: 1380px) {
            max-width: 668px;
        }
        @media (max-width: 575px) {
            top: 64px;
            width: calc(100% - 16px);
        }
    }
}

.fixed {
    // position: sticky;
    // top: 16px;
    position: fixed;
    // top: 168px;
    // top: 98px;
    // width: 256px;
    z-index: 3;

    &.left-side {
        left: auto;
        width: 100%;
        // max-width: 20%;
        max-width: 302px;
        @media (max-width: 1350px) {
            // max-width: 282px;
            max-width: 21.5%;
        }
        @media (max-width: 1199px) {
            // max-width: 256px;
            max-width: 21%;
        }
    }
    &.right-side {
        right: auto;
        width: 100%;
        // max-width: 20%;
        max-width: 302px;
        @media (max-width: 1350px) {
            // max-width: 282px;
            max-width: 21.5%;
        }
        @media (max-width: 1199px) {
            // max-width: 256px;
            max-width: 21%;
        }
    }
    // &.search-box {
    //     width: 100%;
    //     max-width: 47%;
    // }
}

.center-content {
    margin-left: calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
}
